<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../bootstrap-icons-1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../static/css/login.css">
    <title>LOGIN</title>
</head>
<body>
  <body>
    <div class="main">
      <h1 class="title">NOTE.</h1>

      <form action="" method="get" class="form">
        <div class="info">
          <input type="mail" placeholder="Email" />
        </div>
        <div class="info">
          <input type="password" placeholder="Password" />
        </div>
        <button type="submit" class="login">Login</button>
        <br>
        <button type="submit" class="signup">Sign Up
          <i class="bi bi-pencil-square"></i>
        </button>
      </form>
    </div>
</body>
</html>