<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/normalize.css">
    <link rel="stylesheet" href="../../static/css/home.css">
    <link rel="stylesheet" href="../../bootstrap-icons-1.10.5/font/bootstrap-icons.css">
    <title>HOME</title>
</head>
<body>
    <header>
        <span class="return"><i class="bi bi-caret-left-fill"></i></span>
        <div class="header-items">
            <div class="left">
                <span class="room_name">Friends</span>
                <span>
                    <i class="bi bi-pen"></i>
                    <i class="bi bi-trash3"></i>
                </span>
            </div>
            <div class="right">
                <input class="search" type="text" placeholder="search">
                <button>
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>

    </header>

    <div class="container">
        <div class="sidebar"></div>
        <div class="content">
            <div class="talk">
                <div class="input-area">
                    <input type="text" class="talk-input">
                    <button class="send-button"><i class="bi bi-send-fill"></i></button>
                </div>
            </div>
            <div class="note">
                <div class="input-area">
                    <input type="text" class="talk-input">
                    <button class="send-button"><i class="bi bi-send-fill"></i></button>
                </div>
            </div>
        </div>
    </div>
    
    <footer>
        <button class="exit"><i class="bi bi-three-dots"></i></button>


        <span class="room_kinds">
            <a class="bi bi-person-fill"></a>    
            <a class="bi bi-people-fill"></i>
            <a class="bi bi-globe-asia-australia"></a>
        </span>
    </footer>
</html>