<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/public-base.css">
    <link rel="stylesheet" href="../../static/css/styles.css">
    <title>PUBLIC</title>
</head>
<body>
        <header>
            <span class="return"><i class="bi bi-caret-left-fill"></i></span>
            <div class="header-items">
                <div class="left">
                    <span class="room_name">Public</span>
                    <span>
                        <a class="bi bi-pen"></a>
                        <a class="bi bi-trash3"></a>
                    </span>
                </div>
                <div class="right">
                    <input class="search" type="text" placeholder="search">
                    <button>
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
    
        </header>
    
        <div class="container">
            <div class="sidebar">

            </div>
    
            <div class="content">
                <div class="talk">
                    {% for channel in channels %}
                      <p>{{channel.channel_name}}</p>
                    {% endfor %}
                    <div class="public-open">
                        <button class="open-add-public" id="open-add-public">
                            <i class="bi bi-send-plus-fill plus-public"></i>
                        </button>
                    </div>
                </div>

                <div id="public-modal" class="public-modal">
                    <div class="plus-public-modal">
                        <div class="add-public-modal">
                            <div class="public-modal-header"><i class="bi bi-people-fill public-icon"></i>
                                <h2>パブリックチャンネル</h2>
                            </div>
                            <div class="public-container">
                                <form class="public-name" action="/public" method="POST">
                                    <input name="inputPublicName" class="input-public-name" type="text" placeholder="Channel Name">
                                    <textarea name="publicDescription" type="text" class="public-description" placeholder="チャンネルの説明を記入"></textarea>
                                    <button type="submit" class="public-add-button">追加</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="note">
                    <div class="input-area">
                        <textarea type="text" class="talk-input" wrap="soft"></textarea>
                        <button class="send-button"><i class="bi bi-send-fill"></i></button>
                    </div>
                </div>
            </div>
        </div>
        
        <footer>
            <a class="exit" href="{{ url_for('login') }}"><i class="bi bi-three-dots"></i></a>
    
    
            <span class="room_kinds">
                <a href="{{ url_for('home') }}" class="bi bi-person-fill"></a>    
                <a href="{{ url_for('group') }}" class="bi bi-people-fill"></i>
                <a href="{{ url_for('public') }}" class="bi bi-globe-asia-australia"></a>
            </span>
        </footer>

        <div id="add-modal" class="add-modal">
            <div id="add-friend" class="add-friend">
                <div><i class="bi bi-person-fill-add add-person"></i></div>
                <h2>フレンド申請</h2>
                <div class="add-container">
                    <div class="friend-search">
                        <input class="input-email" type="email" placeholder="Email">
                        <button type="submit" class="search-button">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                    <div  class="candidate-area">
                        <select name="candidate-person" class="candidate-person" size="10">
                            <option>aaaaaaaa</option>
                            <option>aaaaaaaa</option>
                            <option>aaaaaaaa</option>
                            <option>aaaaaaaa</option>
                            <option>aaaaaaaa</option>
                            <option>aaaaaaaa</option>
                            <option>aaaaaaaa</option>
                        </select>
                        <button type="submit" class="add-button">追加</button>
                    </div>
                </div>
            </div>    
        </div>

        <div id="request-modal" class="request-modal">
            <div id="accept-group" class="accept-group">
                <div><i class="bi bi-person-fill request-person"></i></div>
                <h2>フレンド申請一覧</h2>
                <div class="request-container">
                    <div  class="friend-request">
                        <select name="request-all" class="friend-all" size="999">
                            <option>aaaaaaaa</option>
                            <option>aaaaaaaa</option>
                            <option>aaaaaaaa</option>
                            <option>aaaaaaaa</option>
                            <option>aaaaaaaa</option>
                            <option>aaaaaaaa</option>
                            <option>aaaaaaaa</option>
                        </select>
                        <div class="all-button">
                            <button type="submit" class="accept-button">承認</button>
                            <button type="submit" class="deny-button">拒否</button>    
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    

        <script type="text/javascript">
            // prettier-ignore
            const channels = JSON.parse('{{ channels|tojson }}');
            // prettier-ignore
            const uid = JSON.parse('{{ user_id|tojson }}');

          </script>
        <script type='text/javascript' async src="../../static/js/modalJs/add-friend.js"></script>
        <script type='text/javascript' async src="../../static/js/modalJs/accept-friend.js"></script>
        <script type="text/javascript" async src="../../static/js/modalJs/add-public.js"></script>

</body>    
</html>