body {
    font-family: "Courier New", Courier, monospace;
    background-image: url(../img/login_page.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    color: white;
    font-size: 65px;
    margin-top: 0px;
    margin-bottom: 100px;
  }
  
  .main {
    width: 300px;
    height: 350px;
    margin-right: 10px;
  }
  
  .form {
    margin-top: 20px;
    width: 210px;
  }
  
  .info {
    width: 200px;
    padding-bottom: 20px;
    font-size: 30px;
    font-family: "Courier New", Courier, monospace;
  }
  
  input {
    width: 200px;
    height: 25px;
    font-size: 15px;
    font-family: "Courier New", Courier, monospace;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    cursor: pointer;
  }
  
  input::placeholder {
    font-size: 15px;
    color: white;
  }
  
  .login {
    background-color: rgb(45, 130, 255);
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 75px;
    cursor: pointer;
  }

  .signup{
    font-size: 15px;
    color: white;
    background-color: transparent;
    border: none;
    margin-top: 10px;
    margin-left: 60px;
    cursor: pointer;
}